$main-bg-color: rgb(252, 252, 252);
$blue-bg-color: rgb(0, 104, 255);
$blue-accent-color: rgb(92 206 249);

$blue-header-bg-color:rgb(74 148 255);

$btn-bg-color: rgb(0, 104, 255);
$btn-hover-color: rgb(214, 21, 161);

$primary: $blue-bg-color;